@font-face {
  font-family: 'Dela Gothic One';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/DelaGothicOne-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/PTSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PTSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/Inter-Medium.woff2') format('woff2');
}