@font-face {
  font-family: 'Dela Gothic One';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/DelaGothicOne-Regular.woff2') format('woff2'),
        url('../fonts/DelaGothicOne-Regular.woff') format('woff');
}