.input {
  width: 100%;
  color: var(--color-field);
  outline: none;

  &, &::placeholder {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: -0.04em;
  }

  &::placeholder {
    font-style: italic;
    color: var(--color-field-placeholder);
  }

  &:focus, &:hover {
    border: 1px solid var(--color-blue-5);
  }

  &, &:-webkit-autofill {
    display: flex;
    align-items: center;
    padding: 0 30px;
    height: 60px;
    background: var(--color-blue-6);
    border: 1px solid var(--color-blue-7);
    border-radius: 45px;
  }

  &_secondary {
    background: var(--color-blue-4);
  }

  &_third {
    color: var(--color-blue-6);
    background: var(--color-white);

    &::placeholder {
      color: var(--color-blue-22);
    }
  }

  &.error {
    background: var(--color-red-1-opac20);
    border: 1px solid var(--color-red-1);

    &::placeholder {
      color: var(--color-blue-13);
    }

    &.input_third::placeholder {
      color: var(--color-red-1);
    }
  }

  @media screen and (max-width: 640px) {
    &, &::placeholder {
      font-size: 14px;
    }

    &, &:-webkit-autofill {
      padding: 17px 30px;
      height: 48px;
    }
  }

  @media screen and (max-width: 410px) {
    &, &:-webkit-autofill {
      padding: 17px 20px;
    }
  }

  &-group {
    position: relative;
    min-width: 0;

    &-icon {
      position: absolute;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      &_search {
        width: 55px;
        cursor: pointer;

        svg {
          width: 11px;
        }
      }

      &_clip, &_calendar {
        right: 30px;
        pointer-events: none;
      }
      
      &_clip {
        width: 14px;
        z-index: 1;
      }
      
      &_calendar {
        width: 17px;
      }
    }
  }
}

.datetime {
  min-width: 159px;
  
  &, &-multiple {
    cursor: pointer;
  }
}

input {
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset!important;
    -webkit-text-fill-color: white!important;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    transition: background-color 5000s ease-in-out 0s
  }
}

.input-file {
  position: relative;
  cursor: pointer;
  
  &__input {
    display: none;
  }
  
  &__name {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 49px);
  }
  
  &__cross {
    position: absolute;
    top: 0;
    right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 30px;
    color: var(--color-red-1);
    cursor: pointer;
    
    &.hide {
      display: none;
    }
    
    svg {
      width: 10px;
    }
  }
}