.fullscreen-block {
  margin-left: calc((100% - 100vw) / 2);
  padding: 0 35px;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
  @media screen and (max-width: 1024px) {
    padding: 0 48px;
  }

  @media screen and (max-width: 640px) {
    padding: 0 28px;
  }
}