.question-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: var(--color-blue-4);
  border: 1px solid var(--color-blue-1);
  cursor: pointer;
  transition: var(--transition-default);
  
  &:hover {
    background: var(--color-blue-1);
  }
}