.route-map {
  display: flex;
  @media screen and (max-width: 1015px) {
    position: relative;
    flex-direction: column-reverse;
  }
  // .route-map_secondary
  &_secondary {
    @media screen and (max-width: 1250px) {
      position: relative;
      flex-direction: column-reverse;
    }

    .route-map__map {
      margin-right: 64px;
      margin-left: -388px;
      @media screen and (max-width: 1399px) {
        margin-left: -322px;
      }
      @media screen and (max-width: 1250px) {
        margin-right: 0;
        margin-left: -170px;
      }
      @media screen and (max-width: 1024px) {
        margin-left: -180px;
        margin-right: -60px;
      }
      @media screen and (max-width: 768px) {
        margin-left: -310px;
      }
      @media screen and (max-width: 375px) {
        margin-left: -360px;
      }
    }

    .route-map__list {
      @media screen and (max-width: 1250px) {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        grid-column-gap: 131px;
        margin: 0 0 40px;
      }
      @media screen and (max-width: 870px) {
        grid-template-columns: 1fr 333px;
        gap: unset;
      }
    }

    .route-map__route {
      @media screen and (max-width: 1250px) {
        align-items: unset;
        justify-content: unset;
        white-space: unset;
        width: unset;
        line-height: 20.8px;
        text-align: unset;

        &:not(:last-child) {
          margin-bottom: 11px;
        }
      }
    }
  }
  // .route-map__map
  &__map {
    position: relative;
    margin-right: 64px;
    margin-left: -490px;
    color: var(--color-blue-18);
    overflow: hidden;
    @media screen and (max-width: 1170px) {
      margin-right: auto;
    }
    @media screen and (max-width: 1090px) {
      margin-left: -538px;
    }
    @media screen and (max-width: 600px) {
      zoom: 0.8;
    }
    @media screen and (max-width: 490px) {
      zoom: 0.6;
    }

    svg {
      // width: 1195px;
      // height: 683px;
    }
  }
  // .route-map__list
  &__list {
    margin-top: 61px;
    @media screen and (max-width: 1015px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      margin: 0 0 40px;
    }
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr !important;
    }
  }
  // .route-map__route
  &__route {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-blue-3);
    line-height: 1;
    letter-spacing: -0.04em;
    white-space: nowrap;
    cursor: pointer;
    @media screen and (max-width: 1015px) {
      align-items: unset;
      justify-content: unset;
      white-space: unset;
      width: unset;
      line-height: 20.8px;
      text-align: unset;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
      @media screen and (max-width: 1015px) {
        margin-bottom: 11px;
      }
    }

    &:hover,
    &.active {
      color: var(--color-white);
    }
  }
  // .route-map__path
  &__path {
    position: absolute;

    &.hide {
      display: none;
    }
  }
}

.svg-animate {
  // .svg-animate__city
  &__city {
    opacity: 0;
    transition: opacity 600ms ease-in-out;

    &.active {
      opacity: 1;
    }
  }
  // .svg-animate__path
  &__path {
    stroke: #87a4bc;
    opacity: 0;
    animation: none;
    transition: opacity 400ms ease-in-out;
    &.active {
      opacity: 1;
      animation: animate-line-path 2s ease-in-out forwards;
    }
  }
  // .svg-animate__mask
  &__mask {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &.active {
      opacity: 1;
    }
  }
}

@keyframes animate-line-path {
  to {
    stroke-dashoffset: 0;
  }
}
