.route-map {
  position: relative;
  display: flex;
  
  &_overflow-visible {
    svg, .route-map__map {
      overflow: unset !important;
    }
  }
  
  @media screen and (max-width: 1015px) {
    flex-direction: column-reverse;
  }
  
  &__zoom {
    width: 40px;
    height: 40px;
    font-size: 20px;
    
    &_out:after {
      content: '-';
      height: 24px;
    }
    
    &_in:after {
      content: '+';
    }
    
    &s {
      position: absolute;
      bottom: 0;
      display: flex;
      gap: 10px;
    }
  }

  &_primary {
    .route-map__map {
      margin-left: 0 !important;
      margin-right: 75px;
      width: 605px;
      height: 660px;
      @media (max-width: 1015.98px) {
        width: 100%;
        margin-right: 0;
      }
      @media (max-width: 630.98px) {
        margin: 0 -20px !important;
        height: 510px;
      }
      @media (max-width: 425.98px) {
        height: 410px;
      }
      @media (max-width: 355.98px) {
        width: 100vw;
      }

      svg {
        position: absolute;
        right: 0;
        height: 625px;
        width: 1030px;
        @media (max-width: 630.98px) {
          width: 800px;
          height: 430px;
        }
        @media (max-width: 425.98px) {
          width: 610px;
          height: 400px;
        }
      }
    }
  }
  
  &_secondary {
    .route-map__map {
      margin-right: 30px;
      margin-left: -25px;
      display: flex;
      justify-content: center;
      align-items: center;
      zoom: 1;
      @media (max-width: 1015.98px) {
        margin-right: 0;
        margin-left: 0;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      @media (max-width: 590.98px) {
        width: 1095px;
      }
      @media (max-width: 590.98px) {
        margin-left: -15px;
      }
  
      svg {
        width: 660px;
        height: 412px;
        @media (max-width: 1015.98px) {
          width: 100vw;
          height: auto;
        }
      }
    }

    .route-map__list { 

    }

    .route-map__route {
      @media screen and (max-width: 1250px) {
        align-items: unset;
        justify-content: unset;
        white-space: unset;
        width: unset;
        line-height: 20.8px;
        text-align: unset;

        &:not(:last-child) {
          margin-bottom: 11px;
        }
      }
    }

    .svg-animate {
      &__city {
        &.active {
          opacity: 1;
        }
      }
    
      &__path {
        stroke: unset;

        &.active {
          opacity: 1;
        }
      }
    }
  }
  
  &__map {
    position: relative;
    margin-right: 64px;
    margin-left: -490px;
    color: var(--color-blue-18);
    overflow: hidden;
    
    @media screen and (max-width: 1170px) {
      margin-right: auto;
    }
    
    @media screen and (max-width: 1090px) {
      margin-left: -538px;
    }
  }

  &__list {
    margin-top: 61px;
    
    @media screen and (max-width: 1015px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 30px;
      margin: 0 0 40px;
    }
    
    @media screen and (max-width: 600px) {
      grid-template-columns: 1fr !important;
    }
  }

  &__route {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-blue-3);
    line-height: 1;
    letter-spacing: -0.04em;
    white-space: nowrap;
    cursor: pointer;
    
    @media screen and (max-width: 1015px) {
      align-items: unset;
      justify-content: unset;
      white-space: unset;
      width: unset;
      line-height: 20.8px;
      text-align: unset;
    }

    &:not(:last-child) {
      margin-bottom: 16px;
      
      @media screen and (max-width: 1015px) {
        margin-bottom: 11px;
      }
    }

    &:hover,
    &.active {
      color: var(--color-white);
    }
  }
  
  &__path {
    position: absolute;

    &.hide {
      display: none;
    }
  }
}

.svg-animate {

  &__city {
    opacity: 0;
    transition: opacity 600ms ease-in-out;

    &.active {
      opacity: 1;
    }
  }

  &__path {
    stroke: #87a4bc;
    opacity: 0;
    animation: none;
    transition: opacity 400ms ease-in-out;
    &.active {
      opacity: 1;
      animation: animate-line-path 2s ease-in-out forwards;
    }
  }
 
  &__mask {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &.active {
      opacity: 1;
    }
  }
}

@keyframes animate-line-path {
  to {
    stroke-dashoffset: 0;
  }
}

.swiper-route-list {
  display: none;
  margin-bottom: 30px;

  .swiper-line__item {
    font-weight: 400;
    font-size: 16px;
  }

  @media screen and (max-width: 1015px) {
    display: flex;
  }

  @media screen and (max-width: 470px) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1015px) {
  .route-map__list {
    display: none;
  }
}