.fleet-processing {
  
  .route-map__map {
    overflow: unset;

    @media screen and (min-width: 1015.99px) {
      svg {
        height: 683px;
        width: 1095px;
      }
    }
  }
  
  &__title {
    @media screen and (max-width: 1024px) {
      margin-top: -20px;
    }
    @media screen and (max-width: 640px) {
      margin-top: 0;
    }
    @media screen and (max-width: 320px) {
      margin-top: 30px;
    }
  }

  &__tabs {
    @media screen and (max-width: 470px) {
      margin-bottom: 40px;
    }
  }

  &__route-map {
    margin-top: 70px;
    @media screen and (max-width: 1024px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 840px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 320px) {
      margin-top: 30px;
    }

    .route-map__map {
      margin-right: 140px;
      @media screen and (max-width: 1150px) {
        margin-right: auto;
      }
      @media screen and (max-width: 1015px) {
        margin-left: -350px;
      }
      @media screen and (max-width: 800px) {
        margin-left: -500px;
      }
      @media screen and (max-width: 680px) {
        margin-left: -570px;
      }
      @media screen and (max-width: 540px) {
        margin-left: -590px;
      }
    }
  }
}
