.port-services {
  &__title {
    line-height: 115%;
  }
  
  &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  @media screen and (max-width: 1060px) {
    &-cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 760px) {
    &-cards {
      grid-template-columns: 1fr;
    }
  }

  @media screen and (max-width: 640px) {
    &__title {
      margin-bottom: 50px;
    }
  }

  @media screen and (max-width: 320px) {
    &__title {
      margin-bottom: 40px;
    }
  }
}