.purchases {
  &__title {
    margin-bottom: 50px;
  }
  
  &__dates {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  &__filters {
    &-search {
      margin-bottom: 30px;
    }
    
    &-row {
      grid-row-gap: 40px;
      margin-bottom: 60px;
    }
  }
  
  &__purchases-order {
    margin-bottom: 40px;
  }
  
  &-order {
    padding: 38px 40px;
    width: 100%;
    background: var(--color-blue-4);
    border-radius: 7px;

    &__content {
      display: flex;
      margin-bottom: 37px;
      padding-bottom: 41px;
      border-bottom: var(--border-light);
    }

    &__col:first-child {
      margin-right: 60px;
      width: 50%;
    }

    &__title, &__value {
      font-family: var(--font-sans);
      font-weight: 700;
    }
    
    &__title {
      font-size: 32px;
      line-height: 35.2px;
    }

    &__value {
      font-size: 20px;
      line-height: 16px;
      letter-spacing: -0.02em;

      &:not(&:last-child) {
        margin-bottom: 26px;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
    }

    &__date {
      line-height: 1;
      letter-spacing: -0.04em;
      
      &-wrapper:first-child {
        margin-right: 50px;
      }
    }

    &__apply {
      margin-left: auto;
    }
  }
  
  @media screen and (max-width: 1024px) {
    margin-top: -20px;

    &__filters {
      &-row {
        grid-row-gap: 30px;
        margin-bottom: 50px;
      }

      &-sort {
        margin-top: 20px;

        &-buttons {
          grid-area: 2/2/2/2;
          margin-top: auto;
          height: max-content;
        }
      }
    }
    
    &-order__content {
      padding-bottom: 34px;
    }
  }

  @media screen and (max-width: 730px) {
    &__filters {
      &-sort {
        grid-column-end: unset;

        &-buttons {
          grid-area: 4/1/4/1;
        }
      }
    }
  }

  @media screen and (max-width: 790px) {
    &-order {
      padding-bottom: 40px;
      
      &__content {
        flex-direction: column;
        padding-bottom: 40px;
      }
      
      &__col:first-child {
        margin: 0 0 30px;
        width: 100%;
      }
      
      &__footer {
        flex-wrap: wrap;
      }
      
      &__apply {
        margin: 40px 0 0;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 640px) {
    margin-top: 0;

    &__filters {
      &-search {
        margin-bottom: 26px;
      }

      &-row {
        grid-row-gap: 26px;
      }
      
      &-sort {
        margin-top: 24px;
        
        &-buttons {
          margin-top: 14px;
        }
      }
    }
  }

  @media screen and (max-width: 560px) {
    &-order__date-wrapper {
      width: 100%;
      
      &:first-child {
        margin: 0 0 26px;
      }
    }
    
    &__select-wrapper {
      right: -43px;
      left: unset;
    }
  }
  
  @media screen and (max-width: 400px) {
    &__filters-sort-buttons, &__dates {
      grid-template-columns: 1fr;
    }

    &__filters {
      &-row {
        margin-bottom: 40px;
      }
      
      &-sort {
        margin-top: 14px;

        &-buttons {
          margin-top: 4px;
        }
      }
    }

    &-order {
      padding: 18px 20px 38px;
      
      &__content {
        margin-bottom: 30px;
        padding-bottom: 32px;
      }
      
      &__title {
        font-size: 22px;
        line-height: 24.2px;
      }
      
      &__value {
        font-size: 18px;
        line-height: 19.8px;

        &:not(&:last-child) {
          margin-bottom: 30px;
        }
      }
      
      &__date-wrapper {
        &:first-child {
          margin-bottom: 30px;
        }
      }
      
      &__apply {
        margin-top: 30px;
        
        &-btn {
          width: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 320px) {
    &__title {
      margin-bottom: 40px;
    }
  }
}