.service-template {
  display: flex;

  &__sidebar {
    padding-left: 27px;
    margin-right: 101px;
    width: 275px;
    min-width: 275px;
  }
  
  &__content {
    flex-grow: 1;
    max-width: 991px;
  }
  
  h2 {
    margin-bottom: 18px;
    
    + p {
      margin-bottom: 40px;
      max-width: 650px;
    }
  }
  
  @media screen and (max-width: 1400px) {
    &__sidebar {
      padding-left: 0;
      width: 248px;
      min-width: 248px;
    }
  }

  @media screen and (max-width: 1225px) {
    flex-direction: column;
    align-items: center;
    
    &__sidebar {
      display: none;
    }
    
    &__content {
      flex-grow: unset;
      max-width: 940px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 470px) {
    h2 {
      margin-bottom: 6px;
    }
  }
}

.service-template-sidebar {
  &__title {
    margin-bottom: 45px;
  }
  
  &__link {
    display: block;
    font-family: var(--font-sans);
    font-size: 18px;
    line-height: 21.6px;
    cursor: pointer;
    
    &:not(:last-child) {
      margin-bottom: 5px;
    }
    
    &s {
      margin-bottom: 60px;
    }
  }
}

.service-template-header {
  position: relative;
  margin-bottom: 171px;
  
  &__preview {
    position: absolute;
    top: -64px;
    left: -70px;
    width: 1525px;
    height: 650px;
    background: url("/img/temp/service-template-bg.jpg") center center / cover;
    z-index: -1;
  }
  
  &__title {
    margin-bottom: 10px;
  }
  
  &__description {
    margin-bottom: 34px;
    max-width: 650px;
  }
  
  &__advantage {
    p:first-child {
      font-family: var(--font-inter);
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }
    
    img {
      margin-bottom: 7px;
    }
    
    &s {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 22px 30px;
      
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }
  
  @media screen and (max-width: 1400px) {
    &__preview {
      width: 1091px;
    }
  }
  
  @media screen and (max-width: 1225px) {
    &__preview {
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
    }
  }
  
  @media screen and (max-width: 1024px) {
    margin-bottom: 191px;
  }

  @media screen and (max-width: 940px) {
    margin-bottom: 112px;
    padding: 75px 0;
    
    &__preview {
      top: 0;
      height: 100%;
    }
  }

  @media screen and (max-width: 900px) {
    &__advantages {
      grid-template-columns: repeat(2, 1fr);
    }

    &__preview {
      left: -42px;
      transform: unset;
      width: 1436px;
    }
  }

  @media screen and (max-width: 640px) {
    margin-bottom: 90px;
    padding-bottom: 31px;
  }

  @media screen and (max-width: 470px) {
    margin-bottom: 60px;
    padding: 24px 0 40px;
    
    &__preview {
      width: 2319px;
    }
    
    &__advantages {
      grid-template-columns: 1fr;
    }
  }
}

.service-template-cards {}