.service-template {
  display: flex;

  &__sidebar {
    padding-left: 27px;
    z-index: 2;

    &,
    &-wrapper {
      width: 275px;
      min-width: 275px;
    }

    &-wrapper {
      margin-right: 101px;
    }
  }

  &__content {
    flex-grow: 1;
    max-width: 991px;
    width: 1px;
  }

  h2 {
    margin-bottom: 18px;

    + p {
      margin-bottom: 40px;
      max-width: 650px;
    }
  }

  .swiper-header {
    margin-bottom: 50px;
    user-select: none;

    h2 {
      margin-bottom: 0;
    }
  }

  .swiper {
    margin: 0;

    &-header {
      margin-bottom: 40px;
    }
  }

  .accordion__wrapper {
    color: var(--color-blue-4);
  }

  ul li {
    color: var(--color-white);
  }

  &__block {
    margin-bottom: 112px;
  }

  &__redirect {
    margin: 40px auto 0;
    max-width: 100%;
  }

  @media screen and (max-width: 1400px) {
    &__sidebar {
      padding-left: 0;

      &,
      &-wrapper {
        width: 248px;
        min-width: 248px;
      }
    }
  }
  
  @media screen and (max-width: 1427px) {
    .paperwork {
      width: calc(100vw - 441px);
    }
  }

  @media screen and (max-width: 1400px) {
    .paperwork {
      width: calc(100vw - 410px);
    }
  }

  @media screen and (max-width: 1225px) {
    flex-direction: column;
    align-items: center;

    &__content {
      flex-grow: unset;
      max-width: 940px;
      width: 100%;
    }

    .paperwork {
      width: 100%;
    }

    &__sidebar {
      max-width: 940px;
      margin: 0 auto;

      &-wrapper {
        margin-right: 0;
      }

      &-wrapper {
        position: fixed;
        left: 0;
        top: 0;
        padding: 0 30px;
        width: 100%;
        z-index: 5;
        background: linear-gradient(90deg, #035b9e 0%, #003e6f 100%);
        box-shadow: 0 10px 45px rgba(0, 37, 66, 0.2);
        opacity: 1;
        transition: var(--transition-default);

        &:not(.show) {
          opacity: 0;
          pointer-events: none;
        }
      }

      &,
      &-wrapper {
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 640px) {
    &__block {
      margin-bottom: 90px;
    }

    &__sidebar {
      &-wrapper {
        padding: 0 20px;
      }
    }
  }

  @media screen and (max-width: 470px) {
    h2 {
      margin-bottom: 6px;
    }

    &__block {
      margin-bottom: 60px;
    }

    h2.swiper-header__title {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 400px) {
    .swiper-header {
      gap: 20px;
    }
  }
}

.service-template-sidebar {
  &__title {
    margin-bottom: 45px;
  }

  &__link {
    display: block;
    font-family: var(--font-sans);
    font-size: 18px;
    line-height: 21.6px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &s {
      margin-bottom: 60px;
      overflow: auto;

      &::-webkit-scrollbar {
        height: 0;
        width: 0;
      }
    }
  }

  &__btn {
    font-size: 18px;
  }

  @media screen and (max-width: 1225px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 20px 9px;

    &__link {
      font-size: 16px;
      line-height: 19.2px;
      white-space: nowrap;

      &:not(:last-child) {
        margin: 0 15px 0 0;
      }

      &s {
        display: flex;
        margin-bottom: 0;
      }
    }

    &__title {
      margin-bottom: 8px;
    }

    &__btn {
      width: 238px;
      height: 48px;
      font-size: 14px;
    }
  }

  @media screen and (max-width: 850px) {
    flex-direction: column;
    align-items: unset;

    &__content {
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 640px) {
    padding-left: 0;
  }
}

.service-template-header {
  position: relative;
  margin: -115px 0 112px;
  padding-top: 64px;
  height: 650px;
  
  &-top {
    margin-bottom: 145px;
  }

  &:before,
  &__preview {
    position: absolute;
    top: 0;
    left: -70px;
    width: 1525px;
    height: 100%;
  }

  &:before {
    content: "";
    background-color: var(--color-black-opac50);
    z-index: -1;
  }

  &__preview {
    z-index: -2;
    object-fit: cover;
  }

  &__breadcrumb {
    border-bottom: 1px solid transparent;
    transition: var(--transition-default);

    &:hover {
      border-color: var(--color-white);
    }
  }

  &__title {
    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 34px;
    max-width: 650px;
  }

  &__advantage {
    p:first-child {
      font-family: var(--font-inter);
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }

    img {
      margin-bottom: 7px;
    }

    &s {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 22px 30px;

      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
  }

  @media screen and (max-width: 1400px) {
    &__preview,
    &:before {
      width: 1091px;
    }
  }

  @media screen and (max-width: 1225px) {
    margin-top: unset;
    padding: 75px 0;
    height: auto;

    &__preview,
    &:before {
      left: 50%;
      transform: translateX(-50%);
      width: 100vw;
    }

    &-top {
      margin-bottom: 17px;
    }
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 191px;
  }

  @media screen and (max-width: 940px) {
    margin-bottom: 112px;
  }

  @media screen and (max-width: 900px) {
    &__advantages {
      grid-template-columns: repeat(2, 1fr);
    }

    &__preview {
      left: -42px;
      transform: unset;
      width: 1436px;
    }
  }

  @media screen and (max-width: 640px) {
    margin-bottom: 90px;
    padding-bottom: 31px;
  }

  @media screen and (max-width: 470px) {
    margin-bottom: 60px;
    padding: 24px 0 40px;

    &__preview,
    &:before {
      width: 2319px;
    }

    &__advantages {
      grid-template-columns: 1fr;
    }
  }
}

.service-template-cards {
  h2 + p {
    margin-bottom: 30px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media screen and (max-width: 1024px) {
      grid-row-gap: 40px;
    }

    @media screen and (max-width: 760px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 505px) {
      grid-template-columns: 1fr;
      grid-row-gap: 30px;
    }
  }

  img {
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
  }

  h4 {
    margin-bottom: 6px;
  }
}

.service-template-preview-info {
  h2 {
    margin-bottom: 40px;

    @media screen and (max-width: 470px) {
      margin-bottom: 6px;
    }

    + p {
      margin-bottom: 30px;
      max-width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__preview {
    max-width: 650px;
  }

  &__content {
    width: 311px;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 1225px) {
    &__preview {
      max-width: 616px;
    }
  }

  @media screen and (max-width: 860px) {
    &__wrapper {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__preview {
      max-width: 100%;
    }
  }
}

.service-template-tabs {
  h2 {
    margin-bottom: 40px;
  }

  h3 {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 20px;
  }

  &__tabs {
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    gap: 30px;
  }

  &__preview {
    flex-grow: 1;
  }

  &__content {
    flex-shrink: 0;
    width: 309px;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px) {
    &__content {
      width: 296px;
    }
  }

  @media screen and (max-width: 860px) {
    &__wrapper {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__preview {
      max-width: 100%;
    }
  }

  @media screen and (max-width: 470px) {
    .btn {
      max-width: 100%;
      width: 100%;
    }
  }
}

.service-template-file-slider {
  &__card {
    padding: 30.5px 30px;
    max-width: unset;
    width: 310px;
    background: var(--color-blue-4);
    border-radius: 8px;
  }

  &__img {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    max-height: 353px;

    &-wrapper {
      display: flex;
      align-items: center;
      margin-bottom: 29px;
      width: 100%;
      height: 353px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
    border-top: 1px solid var(--color-blue-3);
  }

  &__download {
    line-height: 1;
    color: var(--color-blue-3);
  }

  @media screen and (max-width: 1420px) and (min-width: 1226px), (max-width: 1100px) {
    &__swiper {
      width: 100%;
    }

    &__card {
      width: unset;
    }
  }

  @media screen and (max-width: 640px) {
    &__download {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 470px) {
    &__download {
      font-size: 14px;
    }
  }
}

.service-template-info-slider {
  &__card {
    padding: 30px;
    width: 100%;
    max-width: 991px;
    background: var(--color-blue-4);
    border-radius: 8px;
  }

  &__img {
    height: 308px;
    width: 100%;
    object-fit: cover;
  }

  &__footer {
    display: flex;
    padding-top: 30px;
    border-top: 1px solid var(--color-blue-3);
  }

  &__additionally {
    margin-right: 30px;
  }

  &__name {
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.02em;
  }

  &__size {
    margin: auto 0 0 auto;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-bottom: 30px;
  }

  &__subtitle {
    margin-bottom: 29px;
  }

  &__feature {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    height: 21px;
  }

  @media screen and (max-width: 1420px) and (min-width: 1226px), (max-width: 1100px) {
    &__swiper {
      width: 100%;
    }
  }

  @media screen and (max-width: 770px) {
    &__card {
      padding-top: 28px;
    }

    &__img {
      height: auto;
    }

    &__wrapper {
      grid-template-columns: 1fr;
    }

    &__additionally {
      margin-right: 12.2%;
    }
  }

  @media screen and (max-width: 567px) {
    &__footer {
      flex-direction: column;
    }

    &__additionally {
      margin: 0 0 20px;

      &:last-child {
        margin-bottom: 34.52px;
      }
    }

    &__size {
      margin: 0;
    }
  }

  @media screen and (max-width: 470px) {
    &__wrapper {
      grid-gap: 21.59px;
      margin-bottom: 28.52px;
    }

    &__subtitle {
      margin-bottom: 27.53px;
    }

    &__feature {
      flex-direction: column;
      height: unset;
      gap: unset;
    }

    &__img {
      height: auto;
    }

    &__footer {
      padding-top: 21px;
    }
  }
}

.service-template-description-slider {
  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 30px;
    width: 100%;
    max-width: 991px;
    background: var(--color-blue-4);
    border-radius: 8px;
  }
  
  &__size {
    padding-top: 6px;
    white-space: nowrap;
  }

  &__img {
    height: 308px;
    width: 100%;
    object-fit: cover;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }

  &__subtitle {
    margin-bottom: 35px;
  }
  
  &__name {
    margin-bottom: 5px;
  }

  &__title {
    margin-bottom: 11px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-height: 309px;
  }

  &__content {
    flex-grow: 1;
    overflow: auto;

    &::-webkit-scrollbar {
      height: 0;
      width: 8px;

      &,
      &-track {
        border-radius: 100px;
      }

      &-track {
        background: linear-gradient(
          to right,
          rgba(135, 164, 188, 0) 0%,
          rgba(135, 164, 188, 0) 30%,
          rgba(135, 164, 188, 1) 50%,
          rgba(135, 164, 188, 0) 70%,
          rgba(135, 164, 188, 0) 100%
        );
      }

      &-thumb {
        background: var(--color-blue-1);
        backdrop-filter: blur(15px);
        border-radius: 100px;
      }
    }
  }

  @media screen and (max-width: 1420px) and (min-width: 1226px), (max-width: 1100px) {
    &__swiper {
      width: 100%;
    }
  }

  @media screen and (max-width: 770px) {
    &__card {
      grid-template-columns: 1fr;
    }

    &__img {
      height: auto;
    }

    &__wrapper {
      max-height: unset;
    }

    &__content {
      max-height: 182px;
    }
  }

  @media screen and (max-width: 470px) {
    &__card {
      gap: 21px;
    }

    &__header {
      flex-direction: column-reverse;
    }

    &__size {
      margin-bottom: 18px;
      padding-top: 0;
    }

    &__subtitle {
      margin-bottom: 11px;
    }

    &__title {
      margin-bottom: 9px;
    }

    &__content {
      max-height: 538px;
    }
  }
}

.service-template-short-slider {
  &__card {
    max-width: 380px;
    width: 100%;
  }

  @media screen and (max-width: 440px) {
    &__swiper {
      width: 100%;
    }
  }
}

.service-template-map {
  h2 {
    margin-bottom: 40px;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__wrapper {
    position: relative;
  }

  &__title {
    margin-bottom: 24px !important;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 340px;
    width: 100%;
  }

  &__statistics {
    display: flex;
    gap: 36px;
    color: var(--color-white);
  }

  &__caption {
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
  }

  &__sub {
    font-size: 40px;
    line-height: 48px;
  }

  @media screen and (max-width: 640px) {
    &__title {
      margin-bottom: 0 !important;
    }
  }

  @media screen and (max-width: 470px) {
    h2 {
      margin-bottom: 15px;
    }

    &__statistics {
      flex-direction: column;
      gap: 14px;
    }

    &__title {
      margin-bottom: 20px !important;
    }

    &__content {
      position: unset;
      transform: unset;
    }

    &__img {
      position: absolute;
      top: 34px;
      left: 0;
      z-index: -1;
      max-height: 201px;
      width: auto;
    }
  }
}

.service-template-map-contacts {
  h2 {
    margin-bottom: 40px;
  }

  a {
    transition: var(--transition-default);

    &:hover {
      color: var(--color-grey-1);
    }
  }

  &__subtitle {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 19.2px;
    color: var(--color-blue-3);
  }

  &__phone {
    margin-bottom: 30px;
    font-size: 70px;
    white-space: nowrap;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 20px;

    + .service-template-map-contacts__subtitle {
      margin-bottom: 20px;
    }
  }

  &__addresses {
    margin-bottom: 30px;
    line-height: 19.2px;
  }

  &__contact {
    display: block;
    font-family: var(--font-sans);
    line-height: 22.4px;
  }

  &__line {
    margin: 30px 0;
    width: 100%;
    height: 1px;
    background: var(--color-blue-7);
  }

  &__mail {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
  }

  @media screen and (max-width: 760px) {
    &__row {
      &:not(&_contacts) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__addresses {
      margin-bottom: 40px;
    }

    &__line {
      margin-top: 36px;
    }
  }

  @media screen and (max-width: 610px) {
    &__phone {
      font-size: 56px;
    }
  }

  @media screen and (max-width: 500px) {
    &__phone {
      margin-bottom: 35px;
      font-size: 34px;
    }

    &__row {
      &,
      &:not(&_contacts) {
        grid-template-columns: 1fr;
      }

      &_contacts {
        grid-gap: 16px;
        margin-bottom: 30px;
      }
    }

    &__addresses {
      margin-bottom: 47px;
    }

    &__line {
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 470px) {
    h2 {
      margin-bottom: 30px;
    }
  }
}

.service-template-form {
  h2 {
    margin-bottom: 40px;
  }

  &__message {
    height: 220px;
  }

  &__filters-row {
    grid-template-columns: repeat(3, 1fr);
  }

  &__filters-row:not(:last-child),
  &__message {
    margin-bottom: 30px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &__btn {
    width: 311px;
  }

  @media screen and (max-width: 1024px) {
    &__btn {
      width: 290px;
    }
  }

  @media screen and (max-width: 760px) {
    &__filters-row {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 670px) {
    &__btn {
      width: 100%;
    }

    &__footer {
      flex-direction: column;
      align-items: unset;
    }
  }

  @media screen and (max-width: 470px) {
    &__filters-row {
      grid-template-columns: 1fr;
    }
  }
}

.service-template-port {
  h2 {
    margin-bottom: 40px;
  }

  &__map {
    padding: 0;
  }

  @media screen and (min-width: 1226px) {
    &__map {
      margin-left: -70px;
      width: calc(100% + 83px);
    }
  }

  @media screen and (max-width: 470px) {
    margin-bottom: 17px;
  }
}

.paperwork {
  position: relative;
  padding: 30px;
  background: var(--color-blue-4);
  border-radius: 8px;

  &:after {
    content: "";
    position: absolute;
    top: 135px;
    left: 30px;
    width: calc(100% - 60px);
    border-top: 1px dashed var(--color-blue-3);
  }

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  h5 {
    margin-bottom: 3px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    user-select: none;
    cursor: grab;

    &::-webkit-scrollbar {
      height: 0;
      width: 0;
    }
  }

  &__col {
    width: 25%;
    min-width: 25%;
  }

  &__item {
    position: relative;
    margin: 0 auto;
    width: 158px;
    text-align: center;

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    &:after {
      top: 100px;
      z-index: 1;
      width: 9px;
      height: 9px;
      background: var(--color-white);
      border-radius: 50%;
    }

    &:before {
      top: 60px;
      height: 42px;
      width: 1px;
      background: var(--color-blue-3);
    }
  }

  &__icon {
    position: relative;
    margin-bottom: 73px;
    width: 60px;
    height: 60px;
  }

  @media screen and (max-width: 850px) {
    padding-bottom: 37px;

    &:after {
      top: 30px;
      left: 34.4px;
      width: 1px;
      height: calc(100% - 67px);
      border-top: none;
      border-left: 1px dashed var(--color-blue-3);
    }

    &__wrapper {
      flex-direction: column;
      gap: 45px;
    }

    &__col {
      padding-left: 50px;
      min-width: unset;
      width: unset;
    }

    &__item {
      display: flex;
      align-items: center;
      margin: 0;
      width: unset;
      text-align: unset;

      &:after {
        top: unset;
        left: -45px;
      }

      &:before {
        top: unset;
        left: -21px;
        transform: rotate(90deg);
      }
    }

    &__icon {
      margin: 0 23px 0 0;
    }
  }

  @media screen and (max-width: 470px) {
    padding: 20px;

    &:after {
      display: none;
    }

    &__col {
      padding-left: 0;
    }

    &__wrapper {
      gap: 30px;
    }

    &__item {
      display: block;

      &:after,
      &:before {
        display: none;
      }
    }

    &__icon {
      margin: 0 0 16px;
    }
  }
}

.service-template-paperwork {
  h2 {
    margin-bottom: 40px;
  }
}

.service-template-path-map {
  &__map {
    svg {
      @media (max-width: 630.98px) {
        min-width: 629px;
      }
    }
  }
  &__navigation {
    margin-top: 30px;
    max-width: 224px;
    @media (max-width: 1015.98px) {
      max-width: 100%;
    }

    .route-map__route {
      white-space: pre-line;
      text-align: left;
      width: 100%;
      max-width: max-content;
      justify-content: flex-start;
    }
  }
}

.service-template-routes-map {
  &__swiper {
    @media screen and (min-width: 1226px) {
      width: calc(100vw - 530px) !important;
    }

    &-line {
      margin-bottom: 40px;
    }
  }

  &__label {
    margin-bottom: 40px;
  }

  &__wrapper {
    overflow: hidden;
    @media (max-width: 630.98px) {
      overflow: unset;
    }
  }
}

.service-template-label {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  grid-gap: 0 30px;
  padding: 30px;
  background: var(--color-blue-4);
  border-radius: 8px;

  &__title {
    grid-area: 1/1/1/4;
  }

  &__subtitle {
    color: var(--color-blue-3);
    line-height: 1;
  }

  &__contact {
    font-family: var(--font-sans);
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: -0.02em;
    white-space: nowrap;
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);

    &__subtitle {
      grid-area: 2/1/2/4;
      margin-bottom: 28px;
    }

    &__title {
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 530px) {
    grid-template-columns: 1fr;

    &__subtitle,
    &__title {
      grid-area: unset;
    }

    &__subtitle {
      margin-bottom: 0;
    }

    &__phone {
      margin: 26px 0;
    }
  }
}
