<div class="footer">
    <div class="wrapper footer__wrapper">
        <div class="footer__info">
            <img class="footer__logo" src="@@logo" alt="Владивостокский морской торговый порт" width="203" height="77">
            <div class="footer__copyright">© 2006–2022 ПАО «Владивостокский морской торговый порт»</div>
            <a href="#" class="link link_text-decoration footer__policy" target="_blank">Политика конфиденциальности</a>
        </div>

        <div class="footer__contacts">
            <a href="tel:23213123" class="footer__phone">+7 (800) 23-444-99</a>
            <a href="#" class="footer__mail link">vmtp-info@fesco.com</a>
            <div class="footer__address">690065 Россия, г. Владивосток<br>ул. Стрельникова, д. 9,Приморский край</div>

            <div class="socials footer__socials footer__socials_secondary">
                <a class="social" href="#" target="_blank">@@include('../components/svg/telegram.html')</a>
                <a class="social" href="#" target="_blank">@@include('../components/svg/vk.html')</a>
                <a class="social " href="#" target="_blank">@@include('../components/svg/youtube.html')</a>
            </div>
        </div>

        <div class="footer__navigation">
            <div class="footer__links">
                <a class="footer__link link" href="#" target="_blank">О компании</a>
                <a class="footer__link link" href="#" target="_blank">Карьера</a>
                <a class="footer__link link" href="#" target="_blank">Учебный центр</a>
                <a class="footer__link link" href="#" target="_blank">Закупки</a>
            </div>
            <div class="footer__links">
                <a class="footer__link link" href="#" target="_blank">ЭДО</a>
                <a class="footer__link link" href="#" target="_blank">Пресс-служба</a>
                <a class="footer__link link" href="#" target="_blank">Контакты</a>
            </div>
        </div>

        <div class="socials footer__socials">
            <a class="social" href="#" target="_blank">@@include('../components/svg/telegram.html')</a>
            <a class="social" href="#" target="_blank">@@include('../components/svg/vk.html')</a>
            <a class="social " href="#" target="_blank">@@include('../components/svg/youtube.html')</a>
        </div>
        
        
        <a href="#" class="footer__dviga dviga" target="_blank">
            @@include('../components/svg/dviga.html')
        </a>
    </div>
</div>