<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="preload" href="/fonts/DelaGothicOne-Regular.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
    <link rel="preload" href="/fonts/Inter-Medium.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
    <link rel="preload" href="/fonts/PTSans-Bold.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
    <link rel="preload" href="/fonts/PTSans-Regular.woff2" as="font" type="font/woff2" crossorigin="crossorigin">

    <link href="/css/magnific-popup.css" rel="stylesheet">
    <link href="/css/swiper-bundle.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
</head>
<body class="root-green">
    @@include('../components/header.html', {
        "logo": "img/logo-green.svg",
        "additionallyClass": ""
    })
    
    <div class="container">
        <%= contents %>
    </div>
    
    @@include('../components/footer.html', {
        "logo": "img/logo-green.svg"
    })

    <script src="/js/jquery.js"></script>
    <script src="/js/magnific-popup.js"></script>
    <script src="/js/swiper-bundle.js"></script>
    <script src="/js/leader-line.js"></script>
    <script src="/js/main.min.js"></script>
</body>
</html>