<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
    <link href="/css/flatpickr.css" rel="stylesheet">
    <link href="/css/swiper-bundle.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
</head>
<body class="root-green">
    @@include('../components/header.html', {
        "logo": "img/logo-green.svg",
        "additionallyClass": ""
    })
    
    <div class="container">
        <%= contents %>
    </div>
    
    @@include('../components/footer.html', {
        "logo": "img/logo-green.svg"
    })

    <script src="/js/swiper-bundle.js"></script>
    <script src="/js/flatpickr.js"></script>
    <script src="/js/flatpickr-ru.js"></script>
    <script src="/js/imask.js"></script>
    <script src="/js/tui-pagination.js"></script>
    <script src="/js/touch-scroll.js"></script>
    <script src="/js/main.min.js"></script>
</body>
</html>