<!DOCTYPE html>
<html lang="en" style="overflow: hidden">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="preload" href="/fonts/PTSans-Bold.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
    <link rel="preload" href="/fonts/PTSans-Regular.woff2" as="font" type="font/woff2" crossorigin="crossorigin">
    
    <link href="/css/flatpickr.css" rel="stylesheet">
    <link href="/css/main.min.css" rel="stylesheet">
</head>
<body class="main">
    @@include('../components/header.html', {
        "logo": "img/logo-white.svg",
        "additionallyClass": ""
    })

    <%= contents %>
    
    <script src="/js/flatpickr.js"></script>
    <script src="/js/flatpickr-ru.js"></script>
    <script src="/js/imask.js"></script>
    <script src="/js/tui-pagination.js"></script>
    <script src="/js/main.min.js"></script>
</body>
</html>